@import "src/styles/colors";

.sub-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;

  .sub-list--item:first-child {
    margin-top: 20px;
  }

  .active {
    color: $LIGHT_GOLD !important;
  }

  &--item {
    padding: 20px;

    &:hover {
      color: $LIGHT_GOLD;
    }
  }
}

.shop-sub-menu-active {
  max-height: 300px;
}

.help-sub-menu-active {
  max-height: 300px;
}
