.header {
  height: 60px;
  display: grid;
  width: 100%;
  text-align: center;
  grid-template-columns: repeat(8, 12.5%);
  color: white;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;

  .menu-element {
    cursor: pointer;
  }

  .element-1 {
  }
  .element-2 {
  }
  .element-3 {
  }
  .element-4 {
    grid-column: 4 / span 2;
    font-size: 30px;
    font-family: "Original Surfer", sans-serif;
  }
  .element-5 {
  }
  .element-6 {
  }
  .element-7 {
    margin: 0 auto;
    .border {
      width: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      border: 2px solid white;
    }
  }
}
