.sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #151719;
  left: -200px;

  & ul li {
    color: white;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid white;
  }

  transition: all 500ms linear;
}

.active {
  left: 0;
}
