@import "src/styles/colors";

.cartProduct {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid $LIGHT_GOLD;
  display: grid;
  grid-template-columns: 70px 3fr 1fr;
  grid-template-rows: repeat(3, 30px);

  img {
    grid-row: 1 / 4;
  }

  .name {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
  }

  .description {
    grid-column: 2 / 3;
    margin-top: -10px;
    color: #aaa;
    font-weight: 100;
    font-size: 14px;
  }

  .quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    width: 100px;
    grid-row: 3 / 4;
    border: 1px solid $LIGHT_GOLD;
    align-items: center;
    align-self: center;

    div {
      &:first-child {
        cursor: pointer;
        background-color: red;
      }

      &:last-child {
        cursor: pointer;
        background-color: green;
      }
    }
  }

  .price {
    text-align: right;
    grid-row: 3 / 4;
    align-self: center;
    padding-right: 10px;
  }

  .delete {
    text-align: center;
    color: red;
    font-size: 18px;
  }
}
