.app {
  font-family: "Roboto", sans-serif;
}

.main-content {
  transition: all 500ms linear;
}

.main-page {
  color: white;
}

.sidebar-menu-open {
  margin-left: 320px;
}

.cart-open {
  margin-right: 320px;
}
