.app {
  background-image: url(images/main.jpg);
  height: 100vh;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  color: white;
}
